{% extends 'base.html' %}
{% load static %}
{% block body %}
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
<style>
    .home {
        margin-top: 0 !important;
    }

    video {
        max-width: 100%;
        height: auto;
    }

    body,
    button,
    .btn {
        font-family: 'Roboto' !important;
    }

    .embed-responsive-item>video {
        width: auto !important;
        height: 400px !important;
    }

    .embed-responsive-item>img {
        width: auto !important;
        height: 400px !important;
    }

    h4 {
        word-wrap: break-word;
    }
</style>
<div class="contests container mx-auto text-center">
    {% if contests %}
    {% for i in contests %}
    <button class="btn btn-primary" onclick="fetch_data('{{ i.contest_name }}');">{{ i.contest_name }}</button><br>
    {% endfor %}
    {% endif %}
</div>
<div class="con container mx-auto text-center" style="margin-top: 2%;">

</div>

<script>
    let data = [];
    var current_id = 0;
    function fetch_data(contest_name) {
        $('.contests').hide();
        $.ajax({
            url: "/declaring_page/",
            method: 'POST',
            data: {
                'contest_name': contest_name
            },
            success: function (d) {
                d = JSON.parse(d);
                if (d.length) {
                    for (var i = 0; i < d.length; i++) {
                        data.push([d[i]['fields']['i_id'], d[i]['fields']['file_name']]);
                    }
                    change('con');
                }else{
                    alert('No data available');
                    $('.contests').fadeIn();
                }
            },
            error: function () {
                alert("Something goes wrong");
            }
        });
    }
    function change(type) {
        if (type == 'next') {
            current_id = current_id + 1;
        } else if (type == 'prev') {
            if (current_id == 0) {
                current_id = 0;
            } else {
                current_id = current_id - 1;
            }
        } else {
            current_id = 0;
        }
        append_it();
    }
    function append_it() {
        var file = data[current_id][1];
        var id = data[current_id][0];
        if (file.includes('.mp4')) {
            $('.con').html(`
                            <object class="embed-responsive-item">
                                <video controls>
                                <source class="video_con" src="/`+ file + `" />
                                </video>
                            </object>
                            <br>
                            <h4>User ID : <span style="color: red;">`+ id + `</span></h4>
                            <button class="prevbtn btn btn-primary" onclick="change('prev');"
                                style="font-weight: 600; color: white;">Prev</button>
                            <button class="nextbtn btn btn-primary" onclick="change('next');"
                                style="font-weight: 600; color: white;">Next</button>`)
        } else {
            $('.con').html(`
                            <object class="embed-responsive-item">
                                <img class="img_con mx-auto text-center" src="/`+ file + `" alt="">
                            </object>
                            <br>
                            <h4>User ID : <span style="color: red;">`+ id + `</span></h4>
                            <button class="prevbtn btn btn-primary" onclick="change('prev');"
                                style="font-weight: 600; color: white;">Prev</button>
                            <button class="nextbtn btn btn-primary" onclick="change('next');"
                                style="font-weight: 600; color: white;">Next</button>`)
        }
    }
</script>
{% endblock %}